node_modules
dist
dist-ssr
*.tsbuildinfo
.vercel
.env
.env.*
!.env.example

# editors
.vscode/*
!.vscode/extensions.json
.idea

# logs
*.log
npm-debug.log*

# test artifacts
coverage
playwright-report
test-results
/tests/e2e/.auth

.DS_Store

# playwright
/test-results
/playwright-report
/playwright/.cache
