@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}
:root.dark {
  color-scheme: dark;
}

body {
  @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100;
  font-feature-settings: "cv11", "ss01";
  -webkit-font-smoothing: antialiased;
}

* {
  scrollbar-width: thin;
}

